body {
  background: #0c344c;
  color: #30ff00;
  text-align: center;
  
}

div.Search {
  background: #106d84;
  border-radius: 5px;

  height: 80%;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  
}

.query {
  
  border-radius: 5px;
  border: 0px;
  border-color:  #106d84;
  
  
}


body {
    text-align: center;
}
form {
    display: inline-block;
}
  